<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Utkarsh Gupta. It uses the APIs from mapbox.com and darksky.net</p>
        <img class="portrait" src="./img/circular.png" />
    </div>

    {{>footer}}
</body>

</html>